@import 'libs';
@import 'vars';
@import 'fonts';
@import 'global';
@import 'components/all';

/*
 Сделанная карта товара
.box {
  position: relative;
  width: 405px;
  height: 405px;
  margin: 20px auto;
  filter: drop-shadow(0px 2px 6px rgba(white, 0.15));
}
.content {
  border-radius: 20px;
  margin: 2px auto 0;
  width: 400px;
  height: 400px;
  background-color: #fff;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 44.8%,
    95.5% 50%,
    100% 55.2%,
    100% 100%,
    0% 100%,
    0% 55.2%,
    4.5% 50%,
    0% 44.8%,
    0% 0%
  );
}
.shadow {
  position: absolute;
  width: 405px;
  height: 405px;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  background-color: red;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 44.8%,
    95.5% 50%,
    100% 55.2%,
    100% 100%,
    0% 100%,
    0% 55.2%,
    4.5% 50%,
    0% 44.8%,
    0% 0%
  );
  border-radius: 20px;
}
*/

@import 'media';
