.entertainment {
  border-top: 1px solid #e5e5e5;
  padding: 27px 20px 100px 32px;
  background-color: #fafafa;
  &__list {
    width: 268px;
  }
  &__item {
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.12));
    position: relative;
    width: 268px;
    border-radius: 10px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &:hover {
      .entertainment__item-cover {
        background-color: red;
      }
    }
  }
  &__item-content {
    margin: 2px;
    width: calc(100% - 6px);
    padding: 16px 20px;
    background-color: #fff;
    border-radius: 10px;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 44.8%,
      98% 50%,
      100% 55.2%,
      100% 100%,
      0% 100%,
      0% 55.2%,
      2% 50%,
      0% 44.8%,
      0% 0%
    );
  }
  &__item-cover {
    transition: 0.3s;
    width: calc(100% - 3px);
    height: calc(100% + 2.5px);
    position: absolute;
    z-index: -1;
    content: '';
    top: -1.5px;
    left: 0.5px;
    background-color: transparent;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 44.8%,
      98% 50%,
      100% 55.2%,
      100% 100%,
      0% 100%,
      0% 55.2%,
      2% 50%,
      0% 44.8%,
      0% 0%
    );
    border-radius: 10px;
    background-color: darken(#fff, 7%);
  }
  &__item-img {
    top: 4px;
    right: 9px;
    position: absolute;
    max-height: 94%;
  }
  &__item-title {
    width: 161px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__item-descr {
    width: 161px;
    opacity: 0.5;
    margin-bottom: 26px;
  }
  &__item-action {
    width: 161px;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    color: #df212d;
  }
  &__item-action-type {
    width: 161px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    opacity: 0.5;
  }
}
